.animated-button span:nth-child(1) {
    transform-origin: center;
    transition: all 0.8s ease-in-out
}

.animated-button span:nth-child(2) {
    transform-origin: center;
    transition: all 0.8s ease-in-out
}

.animated-button span:nth-child(3) {
    transform-origin: center;
    transition: all 0.8s ease-in-out
}

button.animated-button.open span:nth-child(1) {
    transform: rotate(45deg) translateY(0.45rem) translateX(0.45rem);
    transition: 0.8s ease-in-out;
}

.animated-button.open span:nth-child(2) {
    width: 0;
    opacity: 0;
    transition: 0.8s ease-in-out
}

.animated-button.open span:nth-child(3) {
    width: 2rem;
    transform: rotate(-45deg) translateY(-0.45rem) translateX(0.45rem);
    transition: 0.8s ease-in-out
}