<div class="relative h-screen overflow-hidden">
    <div class="absolute inset-0 bg-transparent flex flex-col justify-center items-center z-10">
      <h1 class="text-white text-4xl md:text-6xl font-bold mb-4">
        Enhance Your Home’s Beauty
      </h1>
      <p class="text-white text-lg md:text-2xl mb-8">
        Top Quality Exterior Cleaning for Lasting Impressions
      </p>
      <div class="flex space-x-4">
        <a href="tel:+447498070462">
          <button class="bg-custom-primary hover:bg-custom-light-blue transition-all text-white font-bold py-2 px-2 md:px-4 rounded">
            Schedule a telephone consultation
          </button>
        </a>
        <a href="mailto:info@spearexteriors.co.uk">
          <button class="bg-custom-primary hover:bg-custom-light-blue transition-all text-white font-bold py-2 px-2 md:px-4 rounded">
            Enquire via email
          </button>
        </a>
      </div>
    </div>
    <video class="w-full h-full object-cover z-0" autoplay muted loop>
        <source src="/assets/CommercialWindowCleaning/CommerciaCleaning2.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
  </div>
